
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
}

.card {
  width: 45%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 900px) {
  .card {
    width: 70%;
  }

  .card img {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }

  .card img {
    height: 200px;
  }
}

/* BUTTON */
.button{
  border: none;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s;
}

.button:hover {
  background-color: rgb(153, 153, 183);
}
